#root {
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  background: #25374b;
  border: 10px white solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.interface {
  width: 90vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.keypad {
  width: 30%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  background: #5b5b5b;
  border: 4px black solid;
  padding: 15px;
}

.key {
  width: 31%;
  margin: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: white;
  font-size: 30px;
}

.display {
  width: 50%;
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.textDisplay {
  width: 100%;
  height: 50%;
  background-color: #949780;
  border: 10px black solid;
  -webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  text-align: center;
  font-size: 9vw;
  color: rgba(25, 25, 25);
}

.light {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: green;
  border: 6px black solid;
  margin: auto;
}

.red {
  background: red;
}

@media screen and (max-width: 1400px) {
  .key {
    font-size: 25px;
  }
  .textDisplay {
    font-size: 11vw;
  }
}

@media screen and (max-width: 1000px) {
  .interface {
    width: 95vw;
    height: 90vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-flow: column-reverse nowrap;
    flex-flow: column-reverse nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .keypad {
    width: 80%;
  }

  .display {
    width: 70%;
  }

  .textDisplay {
    width: 100%;
    font-size: 13vw;
  }

  .light {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 700px) {
  .textDisplay {
    font-size: 15vw;
  }
}

@media screen and (max-width: 400px) {
  .key {
    width: 30%;
  }
}
